header{font-family:'Palatino Linotype', Georgia, Times, serif; font-size: 48px; color:grey; text-align: center;}
body{background-color: #f2ebd9; text-align:center;}
.imgtale{width: 600px; display:block; margin: auto;}
img{width: 350px;}